body {
    background-color: #ffffff;
    font-size: 12px;
    font-family: Verdana, "Verdana CE",  Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    color: #000000;  
    margin: 10px;
    margin-top: 0px;
}

h1 {
    font-family: Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    border-bottom: 1px solid #AFAFAF; 
    font-size:  16px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    color: #D20005;
}

a:link, a:visited {
  color: #045491;
  font-weight : bold;
  text-decoration: none;
}

a:link:hover, a:visited:hover  {
  color: #fff;
  font-weight : bold;
  text-decoration : underline;
}
h2 { color: #440000;
	 text-align: center;
	 font-family: Arial, Helvetica, sans-serif
}
th.title { background-color: #EF8429;
           font-size: 28px;
           font-family: Arial, Helvetica, sans-serif;
}
.linkTable { background-color: black;
             color: white;
}
input, textarea {
  background-color: #ecedf2;
  text-align: left;
}
input[type="submit"] {
  background-color: #9fd1ff;  
}
input[type="text"]:focus, input[type="password"]:focus, textarea:focus {
  background-color: #af0;
}
table{
    border: 1px solid;
    border-color: #9fd1ff;
}
/*#blank{
    height: 140px;
}*/
#menu{
   background-color: darkseagreen;
   font-size: 14px;
   height: 30px;
}